header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--global-padding);
    background-color: var(--primary-color);
}

@media (max-width: 500px) {
    header {
        display: none;
    }

    .logo {
        display: none;
    }
}
