body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: .2em 5vw;
  background: #A65353;
}

header a {
  text-decoration: none;
}

main {
  min-height: 90vh;
  padding: .2em 5vw;
}

.shadow-container {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 15px;
}

.header-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #E0E0E0;
  border-radius: 20px;
  padding: 5px 15px;
}

.header-logout {
  white-space: nowrap;
}

.logo {
  font-size: 1.5rem;
  color: white;
}

@media (max-width: 500px) {
  header {
    justify-content: flex-end;
  }

  .header-user-info {
    flex-wrap: wrap;
  }

  .logo {
    display: none;
  }
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=url], input[type=search] {
  padding: 10px;
  border: 1px solid #A65353;
  border-radius: 20px;
  font-family: inherit;
}

button {
  cursor: pointer;
}

.primary-btn, .secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  transition: background-color .2s ease;
}

.primary-btn {
  background: #A65353;
  border: none;
  color: #fff;
}

.round-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.2em;
}

.primary-btn:hover {
  background-color: #6C1B1B;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #A65353;
  color: #A65353;
}

.secondary-btn:hover {
  background-color: #A65353;
  color: #fff;
}

.libre-barcode-128-text-regular {
  font-family: "Libre Barcode 128 Text", monospace;
  font-weight: 400;
  font-style: normal;
}

.red {
  color: #A65353;
}

.text-bold {
  font-weight: bold;
}

.text-light {
  font-weight: 200;
}